<apex:component controller="generateStandaloneConfirmation" access="global"  >
 <apex:attribute name="Opportunity_Id" description="This is the Opportunity Id." type="Id" assignTo="{!thisOpportunity_Id}"/>
<html>
            <body>
                <table border="0" width="100%">
                    <tr>
                     <td><img src="/servlet/servlet.FileDownload?file=015Z00000009mXI" height="80" width="60"/></td>
                    <td><img src="/servlet/servlet.FileDownload?file=015Z00000009mXI" height="80" width="60"/></td>
                    <td><apex:image url="{!$Resource.berryqr}" width="40" height="40"/> </td>
                    </tr>
                </table>
                  <br/> 
                 <table width="100%">
<tr>
<td width="50%" align="left">MTHMAR13-1124418750 N</td>
<td width="50%" align="right">Page: 1</td>
</tr>
<tr>
<td width="50%" align="left" style="font-weight:bold;font-size:20px">Advertising Order - 827898 - Investment Summary</td>
<td width="50%" align="right"></td>
</tr>
<tr>
<td width="50%" align="left" height="20"></td>
<td width="50%" align="right">Client Service Consultant</td>
</tr>
<tr>
<td width="50%" align="left">{!Opp.Billing_Contact__r.Phone}<br/>
  {!Opp.Billing_Contact__r.MailingStreet}
<br/>
 {!Opp.Billing_Contact__r.MailingCity}
<br/>
 {!Opp.Billing_Contact__r.MailingState}, {!Opp.Billing_Contact__r.MailingPostalCode}<br/>
Attn:  &nbsp;{!Opp.Billing_Contact__r.Name}
<br/>
</td>
<td width="50%" align="right" valign="top">David Nelson<br/>
5401 Veterans Memorial Parkway Suite 200<br/>
63376 St Peters<br/>
Phone: 866-235-1073 <br/>
Fax: 800-878-6480</td>
</tr>
<tr>
<td width="50%" align="left" height="20" colspan="2"> <hr/><br/><br/></td>
</tr>
<tr>
<td colspan="2">
      <table border="1">
        <tr>
            <td><apex:outputText value="Heading"/></td>
            <td><apex:outputText value="Items"/></td>
            <td><apex:outputText value="Description"/></td>
            <td><apex:outputText value="Billing Term"/></td>
                  <td><apex:outputText value="MIAF"/></td>
        </tr>  

    <apex:repeat value="{!OliItem}" var="oli" id="theRepeat">
        <tr>
            <td><apex:outputField value="{!oli.Directory_Heading__r.Name}"/></td>
            <td><apex:outputField value="{!oli.ProductCode__c}"/></td>
            <td><apex:outputField value="{!oli.Description__c}"/></td>
            <td><apex:outputField value="{!oli.Billing_Frequency__c}"/></td>
              <td><apex:outputField value="{!oli.UnitPrice__c}"/></td>
        </tr>                
    </apex:repeat>
    </table>
</td>
</tr>
</table>


  </body>
</html>
</apex:component>