<apex:component >
<script type="text/javascript">

//===================================================
//APPLICATION
//The Application class is the entry point into ExtJS application
//===================================================
Ext.application({name: "Storm",
//The application's startup routine once all components are loaded.
  launch: function () {
    console.log('AppLaunch');
    //Instantiate main list view for Leads.
    var mainView = Ext.create('Ext.Panel', {
      alias: 'widget.mainview',
      title: 'Main View',
      fullscreen: true,
      html: 'Welcome to Storm!'
    });
    console.log('panelObj: ', mainView);
    
    //Launch the primary fullscreen view and pass in contents.
    var test1 = Ext.ComponentQuery.query('panel');
    console.log('test1: ', this);
    
     Ext.create('Ext.container.Viewport', {
    layout: 'border',
    items: [{
        region: 'north',
        html: '<h1 class="x-panel-header">Page Title</h1>',
        border: false,
        margins: '0 0 5 0'
    }, {
        region: 'west',
        collapsible: true,
        title: 'Navigation',
        width: 150
        // could use a TreePanel or AccordionLayout for navigational items
    }, {
        region: 'south',
        title: 'South Panel',
        collapsible: true,
        html: 'Information goes here',
        split: true,
        height: 100,
        minHeight: 100
    }, {
        region: 'east',
        title: 'East Panel',
        collapsible: true,
        split: true,
        width: 150
    }, {
        region: 'center',
        xtype: 'tabpanel', // TabPanel itself has no title
        activeTab: 0,      // First tab active by default
        items: {
            title: 'Default Tab',
            html: 'The first tab\'s content. Others may be added dynamically'
        }
    }]
});
    //Ext.Viewport.add([mainView]);
    
  }
})    
</script>   
</apex:component>