<apex:page standardController="Directory_Listing__c" extensions="ChangeOrder_v1" id="page1" sidebar="false" showHeader="false"  >
 
<apex:outputPanel id="pnl1">
 <apex:includeScript value="{!URLFOR($Resource.jqueryui18,'js/jquery-1.7.1.js')}" />
 <apex:includeScript value="{!URLFOR($Resource.jqueryui18,'js/jquery.tablednd.js')}" />

<script>
function endLoading(){


document.getElementById("el_loading").style.display='none';
document.getElementById("el_loading").style.display='';
        }
</script>

<script>
$(document).ready(function() {
  
    $("#page1\\:frm1\\:pblk\\:table-2").tableDnD(
    {
        onDrop: function(table, row) 
        {
            var rows = table.tBodies[0].rows;
            var debugStr = "";
            for (var i=0; i<rows.length; i++) {
                debugStr += rows[i].id+",";
            }
            for (var i=0; i<1; i++) 
            {
                cells = rows[i].getElementsByTagName('td');
                for(var j=0;j<cells.length;j++)
                {
                  // alert('hi');
                }
            }
           
        },
        onDragStart: function(table, row) 
        {
                 
        }
    });

 });
</script>
<style type="text/css">
.tableDemo th {
    background-color: #eee;
}
.tableDemo table {
    width: auto;
}
.test{}
</style>
<Apex:form id="frm1">

<apex:pageBlock id="pblk" title="Captions">


<apex:pageBlockTable value="{!listing}" var="con" id="table-2"  cellpadding="10" >
<apex:column style="cursor: move;" title="{!con.id}" headerValue="Name">{!con.Name}
</apex:column>
<apex:column headervalue="Caption Name" style="cursor: move;">
     <apex:outputfield value="{!con.Name}"/>
 </apex:column>
<apex:column headervalue="Address" style="cursor: move;">
                <apex:outputField value="{!con.Address__c}"/>
</apex:column>
 <apex:column headervalue="Phone" style="cursor: move;">
                <apex:outputField value="{!con.Phone_Number__c}"/>
               </apex:column>
           
              <apex:column headervalue="Directory Section" style="cursor: move;">
                <apex:outputField value="{!con.Directory_Section__r.Name}" />
               
              </apex:column>
               <apex:column headervalue="Indent Level" style="cursor: move;">
                <apex:outputField value="{!con.Indent_Level__c}"/>
              
              </apex:column>
              
               
              <apex:column headervalue="Indent Order" style="cursor: move;">
              <apex:outputField value="{!con.Indent_Order__c}" />
               
              </apex:column>
             
             
                 <apex:column headervalue="Is Caption" style="cursor: move;">
                <apex:outputField value="{!con.Caption_Header__c}" />
               
              </apex:column>
               <apex:column headervalue="Is Sub Caption" style="cursor: move;">
                <apex:outputField value="{!con.Caption_Member__c}" />
               
              </apex:column> 
              
               <apex:column headervalue="Under Caption">
                <apex:outputField value="{!con.Under_Caption__c}" />
               </apex:column> 
              
               <apex:column headervalue="Under SubCaption" style="cursor: move;">
                <apex:outputField value="{!con.Under_Sub_Caption__c}"/>
              
              </apex:column> 
</apex:pageBlockTable>

<script type="text/javascript">

var gettable=document.getElementById("page1:frm1:pblk:table-2");
var trs = gettable.getElementsByTagName("tr");
var i = 0;
while (i<trs.length)
{
    trs[i].id = "the_id_"+i;
    i++;
}
</script>
</apex:pageBlock>
<!--
<apex:actionstatus id="ShowStatus" onstop="endLoading();">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="top: 374.2px; width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
          </apex:actionstatus>   
<apex:actionFunction name="updatepos" status="ShowStatus" action="{!updatecontactposition}" reRender="pnl1" >
<apex:param value="" name="assignid" assignTo="{!getposition}" />
</apex:actionFunction>
-->
</apex:form>
</apex:outputPanel>
</apex:page>