<apex:page standardController="Digital_Product_Requirement__c" extensions="DFFArrangement_v2" id="page" showHeader="false" sidebar="false">
<style>
.disableClick{
    pointer-events: none;
}
</style>
 <script>
var totalcount=0;
function checkbox(getchkbox,listsize)
{
   if(totalcount<0)
        totalcount=0;
    if(getchkbox.checked)
        totalcount=totalcount+1;
    else
        totalcount=totalcount-1;
}
function Inexupforup(pgnum)
{
    
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0)
        alert('Please select one Caption Content.');
    else
    {
       if(pgnum=='1'){ 
        if(document.getElementById("page:frm:pbk:pbtable:0:chkbox").checked || document.getElementById("page:frm:pbk:pbtable:1:chkbox").checked)
            alert('You can\'t UP the indent of selected caption conent ');
        else
            runnow();
       }
       else
         runnow();
    }
}
function indexorderdown(getlistsize,pgnum,totalpg)
{
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0 )
    {
        alert('Please select one Caption Content.');
    }
    else
    {
        if(pgnum==totalpg){
            var lastchkboxid="page:frm:pbk:pbtable:"+(getlistsize-1)+":chkbox";
            var first="page:frm:pbk:pbtable:0:chkbox";
            if(document.getElementById(lastchkboxid).checked || document.getElementById(first).checked)
            {
                alert('You can\'t Down the indent of selected caption conent ');
            }
            else
                runnow_down();
         }
         else
                runnow_down();
    }
}
function checkedit()
{
    
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0)
        alert('Please select Caption Content for edit.');
    else
        edit_btn();
}
function increaseindentlevel1(getlistSize)
{
    var callaction=true;
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0)
        alert('Please select Caption Content for edit.');
    else
    {
        if(document.getElementById("page:frm:pbk:pbtable:0:chkbox").checked)
            alert('You can\'t increase indent level of selected Caption content');
        else
        {
            for(var i=0;i<getlistSize;i++)
           {
                if(document.getElementById("page:frm:pbk:pbtable:"+i+":chkbox").checked)
                {
                    var hiddenfldid="hidden"+i;
                    var fldvalue1=document.getElementById(hiddenfldid).value;
                    var addnumber=parseInt(fldvalue1)+1;
                    if(addnumber>=8)
                    {
                        callaction=false;
                        break;
                    }
                }
           }
           if(callaction)
                increaselevelfun();
            else
            {
                alert('You can\'t increase indent level of selected Caption content');
            }
        }
    }
}
function decreaseindentlevel1(getlistSize)
{
    
   var callaction=true;
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0)
        alert('Please select Caption Content for edit.');
    else
    {
         if(document.getElementById("page:frm:pbk:pbtable:0:chkbox").checked)
            alert('You can\'t decrease indent level of selected Caption content');
        else
        {
           for(var i=0;i<getlistSize;i++)
           {
                if(document.getElementById("page:frm:pbk:pbtable:"+i+":chkbox").checked)
                {
                    var hiddenfldid="hidden"+i;
                    var fldvalue1=document.getElementById(hiddenfldid).value;
                    var minusnumber=parseInt(fldvalue1)-1;
                    if(minusnumber<=0)
                    {
                        callaction=false;
                        break;
                    }
                }
           }
           if(callaction)
                decreaselevelfun();
           else
           {
              alert('You can\'t decrease indent level of selected Caption content');
           }
        }
    }
}
function displaypop(uri,name)
{
  window.open(uri,name,'left=20,top=20,width=800,height=600,toolbar=0,resizable=0,scrollbars=0,status=0');
  
}

function hidemypopup()
{
    document.getElementById('mypopupdiv1').style.visibility='hidden';
}
</script>
<apex:form id="frm">
 <apex:actionstatus id="nstatus">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="top: 10%; width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Please wait...</span>
                                </div>
                            </div>
                        </apex:facet>
          </apex:actionstatus>
    <apex:actionFunction status="nstatus" name="runnow" id="action1" action="{!uplisting_order_new}" reRender="pbk"/>
    <apex:actionFunction status="nstatus" name="runnow_down" id="action2" action="{!downlisting_order_new}" reRender="pbk"/>
    <apex:actionFunction status="nstatus" name="edit_btn" id="action3" action="{!activeedit}"  reRender="pbk"/>
    <apex:actionFunction status="nstatus" name="increaselevelfun" id="action4" action="{!increaseindentlevel}"  reRender="pbk"/>
     <apex:actionFunction status="nstatus" name="decreaselevelfun" id="action5" action="{!decreaseindentlevel}"  reRender="pbk"/>
    
    <apex:pageBlock id="pbk">
    <script>
    totalcount=0;
    </script>
        <apex:pageBlockButtons location="top"  id="pbkbtn">
        <table border="0" style="width:660px">
        <tr>
        <td style="padding-top:4px;width: 161px;">
            <apex:commandLink style="text-decoration:none;" onclick="decreaseindentlevel1('{!genericList.size}');return false;" rendered="{!!editflag}" id="decreaselevelbtn" >
                <img src="/s.gif" alt="Add" class="leftArrowIcon" title="Decrease Indent Level"/>
            </apex:commandLink>
            <apex:commandLink style="text-decoration:none;" onclick="increaseindentlevel1('{!genericList.size}');return false;" rendered="{!!editflag}" id="increaselevelbtn" >
                <img src="/s.gif" alt="Add" class="rightArrowIcon" title="Increase Indent Level"/>
            </apex:commandLink>
            <apex:commandLink style="text-decoration:none;" onclick="Inexupforup('{!currpage}');return false;" rendered="{!!editflag}" id="Upbtn">
                <img class="upArrowIcon" title="Up Indent Order" alt="Up" src="/s.gif"/> 
            </apex:commandLink>
            <apex:commandLink style="text-decoration:none;" title="Down Indent Order" onclick="indexorderdown('{!genericList.size}','{!currpage}','{!paginater.pageList.size}');return false;" rendered="{!!editflag}" id="Downbtn" >
                <img class="downArrowIcon" title="Down Indent Order" alt="Down" src="/s.gif"/>
            </apex:commandLink>
          </td>
          <td  >
            <apex:commandButton id="Editbtn" rendered="{!!editflag}" onclick="checkedit();return false;" value="Edit" />
            <apex:commandButton id="Savebtn" status="nstatus" action="{!savebtn}" rendered="{!displaysave}"  value="Save"  reRender="pbk"/>
           <!-- <apex:commandButton id="replaceheader" status="nstatus" value="Change Caption Header" onclick="displaypop('/apex/ReplaceDFFHeader?id={!getDFFid}&core.apexpages.devmode.url=0','Replace Caption Header');return false;" disabled="true"/> -->
            <apex:commandButton id="Previewbtn" status="nstatus" onclick="displaypop('/apex/DFFArrangementPreview_v2?id={!getDFFid}&core.apexpages.devmode.url=0','DFF Preview');return false;" value="Preview"  reRender="pbk" disabled="false"/>
            <apex:commandButton id="cancelbtn" status="nstatus" action="{!cancelbtn}" rendered="{!displaycancel}" value="Cancel"  reRender="pbk"/>
            </td>
            <td>
            <apex:outputPanel id="btnPanel">
             <!-- rendered="{!AND(IF(paginater.isAll, false, true), IF(paginater.totalPage == 1, false, true))}" -->
            <apex:outputPanel rendered="{!IF(paginater.isAll, false, true)}">
              <apex:commandButton action="{!firstPage}" value="First" rerender="pbk,btnPanel,mainPanel" status="nstatus" disabled="{!!paginater.showPrevious}"/> 
              &nbsp;
               <apex:commandButton action="{!previousPage}" value="Prev" rerender="pbk,btnPanel,mainPanel" status="nstatus" disabled="{!!paginater.showPrevious}"/>
               &nbsp; {!paginater.pageNum}  of  {!paginater.pageList.size} &nbsp;
              <apex:commandButton action="{!nextPage}" value="Next" rerender="pbk,btnPanel,mainPanel" status="nstatus" disabled="{!!paginater.showNext}"/>
               &nbsp;
              <apex:commandButton action="{!LastPage}" value="Last" rerender="pbk,btnPanel,mainPanel" status="nstatus" disabled="{!!paginater.showNext}"/>
            </apex:outputPanel>
            </apex:outputPanel>
            </td>
            </tr>
            </table>
        </apex:pageBlockButtons>
        <apex:variable value="{!0}" var="spanid"/>
        <div id="ArrangementDiv" style="height:350px;border: 0px solid red;overflow-y: auto;overflow-x: auto;">
           <apex:pageBlockTable id="pbtable"  value="{!genericList}" var="MergeLst">
                <apex:column >
                    <apex:inputCheckbox onchange="checkbox(this,'{!genericList.size}')" id="chkbox" value="{!MergeLst.ischecked }" />
                    <input type="hidden" id="hidden{!spanid}" value="{!IF(MergeLst.isListing,MergeLst.WrapCLS.objDL.Indent_Level__c,MergeLst.WrapOLICLS.objDFF.Caption_Indent_Level__c)}"/>
                </apex:column>
                <apex:column headerValue="Caption Content" style="font-weight:{!if(getDFFid==left(MergeLst.WrapOLICLS.objDFF.id,len(getDFFid)),'bold','')}" >
                
                 
                 <a href="#" onclick="top.location='/{!IF(MergeLst.isListing,MergeLst.WrapCLS.objDL.id,MergeLst.WrapOLICLS.objDFF.id)}'" style="text-decoration:none">
                
                <apex:outputPanel rendered="{!IF(MergeLst.isListing,true,false)}">
                  <span id="spacespan{!spanid}"></span>
                    <apex:outputPanel id="pnl1" rendered="{!MergeLst.WrapCLS.objDL.Caption_Member__c==true && MergeLst.WrapCLS.objDL.IsName__c==false && MergeLst.WrapCLS.objDL.IsPhoneNumber__c==false && MergeLst.WrapCLS.objDL.IsAddress__c==false}" >
                     {!if(MergeLst.WrapCLS.objDL.Caption_Member__c==true && MergeLst.WrapCLS.objDL.Caption_Display_Text__c!=null,MergeLst.WrapCLS.objDL.Caption_Display_Text__c,'--')}
                     </apex:outputPanel>
                     <apex:outputPanel id="pnl2" rendered="{!MergeLst.WrapCLS.objDL.IsName__c==true || MergeLst.WrapCLS.objDL.IsPhoneNumber__c==true || MergeLst.WrapCLS.objDL.IsAddress__c==true}">
                      {!if(MergeLst.WrapCLS.objDL.Caption_Header__c==false && MergeLst.WrapCLS.objDL.Caption_Member__c==true && MergeLst.WrapCLS.objDL.IsName__c==true,MergeLst.WrapCLS.objDL.Listing_Full_Name__c,if(MergeLst.WrapCLS.objDL.Caption_Header__c==true && MergeLst.WrapCLS.objDL.Caption_Member__c==false,MergeLst.WrapCLS.objDL.Listing_Full_Name__c, MergeLst.WrapCLS.objDL.Caption_Display_Text__c))}
                        {!IF((MergeLst.WrapCLS.objDL.IsAddress__c==true && MergeLst.WrapCLS.objDL.Address__c!=null ),' -- '+MergeLst.WrapCLS.objDL.Address__c,'')}
                        {!IF(MergeLst.WrapCLS.objDL.Phone_Override__c!=null,' -- '+MergeLst.WrapCLS.objDL.Phone_Override__c,IF((MergeLst.WrapCLS.objDL.Phone_Number__c!=null && MergeLst.WrapCLS.objDL.IsPhoneNumber__c==true),' -- '+MergeLst.WrapCLS.objDL.Phone_Number__c,''))}
                      </apex:outputPanel>
                </apex:outputPanel>  
                 
                 <apex:outputPanel rendered="{!IF(MergeLst.isListing,false,true)}">
                 
                 <span id="spacespan{!spanid}"></span>
                    <apex:outputPanel id="pnl3" rendered="{!MergeLst.WrapOLICLS.objDFF.Caption_Member__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Print_Name__c==false && MergeLst.WrapOLICLS.objDFF.Caption_Print_Phone_Number__c==false && MergeLst.WrapOLICLS.objDFF.Caption_Print_Address__c==false}" >
                      {!if(MergeLst.WrapOLICLS.objDFF.Caption_Member__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Display_Text__c!=null,MergeLst.WrapOLICLS.objDFF.Caption_Display_Text__c,'--')}
                     </apex:outputPanel>
                     <apex:outputPanel id="pnl4" rendered="{!MergeLst.WrapOLICLS.objDFF.Caption_Print_Name__c==true || MergeLst.WrapOLICLS.objDFF.Caption_Print_Phone_Number__c==true || MergeLst.WrapOLICLS.objDFF.Caption_Print_Address__c==true}">
                        <apex:outputText escape="true">
                        {!if(MergeLst.WrapOLICLS.objDFF.Caption_Header__c==false && MergeLst.WrapOLICLS.objDFF.Caption_Member__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Print_Name__c==true,MergeLst.WrapOLICLS.objDFF.Name,if(MergeLst.WrapOLICLS.objDFF.Caption_Header__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Member__c==false,MergeLst.WrapOLICLS.objOLI.Listing_Name__c,MergeLst.WrapOLICLS.objDFF.Caption_Display_Text__c))}
                        <span style="display:{!IF(MergeLst.WrapOLICLS.isLineBreak && MergeLst.WrapOLICLS.objDFF.Caption_Header__c==true,'','none')}">
                        <br/>&nbsp;&nbsp;&nbsp;
                            {!IF((MergeLst.WrapOLICLS.objDFF.Caption_Print_Address__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Address__c!=null ),MergeLst.WrapOLICLS.objDFF.Caption_Address__c,'')}
                            {!IF(MergeLst.WrapOLICLS.objDFF.Caption_Phone_Number__c!=null || MergeLst.WrapOLICLS.objDFF.Caption_Print_Phone_Number__c==true,' -- '+MergeLst.WrapOLICLS.objDFF.Caption_Phone_Number__c,'')}
                        </span>
                        <span style="display:{!IF(MergeLst.WrapOLICLS.isLineBreak && MergeLst.WrapOLICLS.objDFF.Caption_Header__c==true,'none','')}">
                        {!IF((MergeLst.WrapOLICLS.objDFF.Caption_Print_Address__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Address__c!=null ),MergeLst.WrapOLICLS.objDFF.Caption_Address__c,'')}
                        {!IF(MergeLst.WrapOLICLS.objDFF.Caption_Phone_Number__c!=null || MergeLst.WrapOLICLS.objDFF.Caption_Print_Phone_Number__c==true,' -- '+MergeLst.WrapOLICLS.objDFF.Caption_Phone_Number__c,'')}
                        </span>
                        </apex:outputText>  
                      </apex:outputPanel>
                  </apex:outputPanel>
                  </a>
                    <script>
                    
                      for(var i=0;i<{!IF(MergeLst.isListing,MergeLst.WrapCLS.objDL.Indent_Level__c,MergeLst.WrapOLICLS.objDFF.Caption_Indent_Level__c)};i++)
                      {
                          document.getElementById('spacespan{!spanid}').innerHTML=document.getElementById('spacespan{!spanid}').innerHTML+"&emsp;";
                      }
                  </script> 
                   <apex:variable value="{!spanid+1}" var="spanid"/>
                  </apex:column>
                   <apex:column headerValue="UDAC" >
                    <a href="#" onclick="top.location='/{!IF(MergeLst.isListing,MergeLst.WrapCLS.objDL.Product__c,MergeLst.WrapOLICLS.objDFF.OrderLineItemID__r.Product2__c)}'">
                    {!IF(MergeLst.isListing,MergeLst.WrapCLS.objDL.Product_Code_UDAC__c,MergeLst.WrapOLICLS.objDFF.OrderLineItemID__r.ProductCode__c)}
                   </a>
                </apex:column>
                
                 <apex:column headerValue="Indent Order">
                 {!IF(MergeLst.isListing,MergeLst.WrapCLS.objDL.Indent_Order__c,MergeLst.WrapOLICLS.objDFF.Caption_Indent_Order__c)}
                 </apex:column>
                <apex:column headerValue="Indent Level">
                {!IF(MergeLst.isListing,MergeLst.WrapCLS.objDL.Indent_Level__c,MergeLst.WrapOLICLS.objDFF.Caption_Indent_Level__c)}
                </apex:column>
                
                <apex:column headerValue="Print Name?" >
                   <apex:inputCheckbox disabled="{!IF(MergeLst.isListing,if((editflag==true && MergeLst.ischecked==true && MergeLst.WrapCLS.objDL.Caption_Member__c==true),false,true),if((editflag==true && MergeLst.ischecked==true && MergeLst.WrapOLICLS.objDFF.Caption_Member__c==true),false,true))}" rendered="{!IF(MergeLst.isListing,true,false)}" value="{!MergeLst.WrapCLS.objDL.IsName__c}" />
                   <apex:inputCheckbox disabled="{!IF(MergeLst.isListing,if((editflag==true && MergeLst.ischecked==true && MergeLst.WrapCLS.objDL.Caption_Member__c==true),false,true),if((editflag==true && MergeLst.ischecked==true && MergeLst.WrapOLICLS.objDFF.Caption_Member__c==true),false,true))}" rendered="{!IF(MergeLst.isListing,false,true)}" value="{!MergeLst.WrapOLICLS.objDFF.Caption_Print_Name__c}" />
                
                </apex:column>
                <apex:column headerValue="Print Address?" >
                <apex:inputCheckbox disabled="{!if((editflag==true && MergeLst.ischecked==true),false,true)}" rendered="{!IF(MergeLst.isListing,true,false)}" value="{!MergeLst.WrapCLS.objDL.IsAddress__c}" />
                <apex:inputCheckbox disabled="{!if((editflag==true && MergeLst.ischecked==true),false,true)}" rendered="{!IF(MergeLst.isListing,false,true)}" value="{!MergeLst.WrapOLICLS.objDFF.Caption_Print_Address__c}" />
                </apex:column>
                <apex:column headerValue="Print Phone Number?" >
                <apex:inputCheckbox disabled="{!if((editflag==true && MergeLst.ischecked==true),false,true)}" rendered="{!IF(MergeLst.isListing,true,false)}" value="{!MergeLst.WrapCLS.objDL.IsPhoneNumber__c}" />
                <apex:inputCheckbox disabled="{!if((editflag==true && MergeLst.ischecked==true),false,true)}" rendered="{!IF(MergeLst.isListing,false,true)}" value="{!MergeLst.WrapOLICLS.objDFF.Caption_Print_Phone_Number__c}" />
                </apex:column> 
                <apex:column headerValue="Suppressed">
                  <apex:inputCheckbox disabled="true" title="Suppressed Listing" rendered="{!IF(MergeLst.isListing,true,false)}" value="{!MergeLst.WrapCLS.objDL.Suppressed__c}" />
                  <apex:inputCheckbox disabled="true" title="Cancelled OLI" rendered="{!IF(MergeLst.isListing,false,true)}" value="{!MergeLst.WrapOLICLS.objDFF.OrderLineItemID__r.isCanceled__c}" />
                
                </apex:column>
                <apex:column headerValue="Directory Edition">
                  <apex:outputText title="CSOA" rendered="{!IF(MergeLst.isListing,true,false)}" value="CSOA" />
                  <apex:outputText title="Publication Year" rendered="{!IF(MergeLst.isListing,false,true)}" value="{!MergeLst.WrapOLICLS.objDFF.OrderLineItemID__r.Directory_Edition__r.Year__c}" />
                </apex:column>
                <apex:column headerValue="Child Count" >
                <apex:outputText rendered="{!IF(MergeLst.isListing,true,false)}" value="N/A" />
                <apex:outputPanel rendered="{!IF(MergeLst.isListing,false,true)}">
                <a href="#" style="display:{!IF(MergeLst.isListing,'none','')}" onclick="window.open('/apex/DFFArrangmentOLIChildPreview?oliId={!MergeLst.WrapOLICLS.objOLI.Id}&core.apexpages.devmode.url=1','_blank','width=800, height=300, scrollbars=yes, resizable=false');return false;" class="{!IF(MergeLst.WrapOLICLS.ChildCount>0,'','disableClick')}">{!MergeLst.WrapOLICLS.ChildCount}</a>
                 </apex:outputPanel>
                </apex:column> 
           </apex:pageBlockTable>
           <br/>
        </div>
        </apex:pageBlock>
        
</apex:form>
</apex:page>