<apex:page controller="ExcelPageController" showHeader="false" sidebar="false" contentType="application/vnd.ms-excel#BerryHeadings.csv" cache="false"> 
<apex:outputText escape="false" value="{!filecontent}"></apex:outputText>
</apex:page>