<apex:page controller="FalloutOrders_v3" sidebar="false" id="Pg" readOnly="true">
<apex:form id="frm">
<apex:pageMessages ></apex:pageMessages>
<apex:actionstatus id="loadingdata">
    <apex:facet name="start">
        <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
            height:100%;opacity:0.65;width:100%;"> 
            <div class="waitingHolder" style="width: 91px;">
                <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                <span class="waitingDescription">Loading...</span>
            </div>
        </div>
    </apex:facet>
</apex:actionstatus>
<apex:pageBlock id="mainBlock" title="Fallout Orders">
<apex:pageBlockButtons id="pbtn" location="bottom">
      <apex:outputPanel id="btnpanel">
        <apex:commandButton action="{!generateReport}" status="loadingdata" disabled="{!IF(ISBLANK(rtype),true,IF(rtype=='1',IF(NOT(ISBLANK(type)),if(type!='0',false,true),true),false))}" value="Generate Report" id="reportbtn" reRender="frm"/>
      </apex:outputPanel>
 </apex:pageBlockButtons>
<apex:pageBlockSection id="pblksec">
<apex:pageBlockSectionItem dataStyle="padding:0px;margin:0px;">
 <apex:outputText >Report Selection</apex:outputText>
 <apex:selectRadio value="{!rtype}">
 <apex:selectOptions value="{!rtypes}"/>
 <apex:actionSupport event="onclick" rerender="frm,mainBlock,pblksection,DigitalReport,PrintReport" status="loadingdata"/>
 </apex:selectRadio>
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<apex:pageBlockSection id="pblksection" rendered="{!if(rtype=='1',true,false)}">
 <apex:pageBlockSectionItem >
 <apex:outputLabel value="Select Spec Art Request or DFF"></apex:outputLabel>
  <apex:selectList value="{!type}" multiselect="false" size="1">
    <apex:selectOptions value="{!types}"/>
    <apex:actionSupport event="onchange" rerender="canvasslist,btnpanel,reportbtn" action="{!populateCanvass}" status="loadingdata"/>
    </apex:selectList> 
 </apex:pageBlockSectionItem>
 <apex:pageBlockSectionItem id="pbitem0">
 <apex:outputLabel value="Canvass"/>
 <apex:selectList value="{!canvasses}" multiselect="false" size="1" id="canvasslist">
    <apex:selectOptions value="{!Canvass}"/>
    <apex:actionSupport event="onchange" rerender="dirlist" action="{!populateDirectory}" status="loadingdata"/>
    </apex:selectList>
 </apex:pageBlockSectionItem>
 <apex:pageBlockSectionItem id="pbitem">
 <apex:outputLabel value="Directory"/>
 <apex:selectList value="{!directories}" multiselect="false" size="1" id="dirlist">
    <apex:selectOptions value="{!directory}"/>
    <apex:actionSupport event="onchange" rerender="dirElist" action="{!populateSection}" status="loadingdata"/>
    </apex:selectList>
 </apex:pageBlockSectionItem>
 <apex:pageBlockSectionItem id="pbitem1">
 <apex:outputLabel value="Directory Section"/>
 <apex:selectList value="{!directoriesSection}" multiselect="true" size="10" id="dirElist">
    <apex:selectOptions value="{!directorySection}"/>
    </apex:selectList> 
 </apex:pageBlockSectionItem>
 </apex:pageBlockSection>
</apex:pageBlock>
<apex:pageBlock title="{!Reporttitle} Report" rendered="{!ShowReport}" id="PrintReport">
  <apex:pageBlockTable value="{!PrintReportWrapLst}" var="PrintWrap">
    <apex:column headerValue="DFF Number">
     <a href="/{!PrintWrap.DFFId}" target="_blank" >{!PrintWrap.DFFNum}</a>
    </apex:column> 
    <apex:column value="{!PrintWrap.OrderSet}" headerValue="OrderSet"/> 
    <apex:column headerValue="Parent URN">
     <apex:outputLabel rendered="{!If(PrintWrap.ParentURNId!=null,true,false)}"> <a href="/{!PrintWrap.ParentURNId}" target="_blank" >{!PrintWrap.ParentURN}</a> </apex:outputLabel>
      <apex:outputLabel rendered="{!If(PrintWrap.ParentURNId==null,true,false)}"> {!PrintWrap.ParentURN} </apex:outputLabel>
    </apex:column>
    <apex:column value="{!PrintWrap.Status}" headerValue="Status"/>
    <apex:column value="{!PrintWrap.AccountName}" headerValue="Account"/>
    <apex:column value="{!PrintWrap.DEName}" headerValue="Directory Edition"/>
    <apex:column value="{!PrintWrap.DSectionHeadingName}" headerValue="Directory Section"/>
    <apex:column value="{!PrintWrap.DateSubmitted}" headerValue="Date Submitted"/>
    <apex:column value="{!PrintWrap.Title}" headerValue="Title"/>
    <apex:column value="{!PrintWrap.Owner}" headerValue="Owner"/>
  </apex:pageBlockTable>
</apex:pageBlock> 
<apex:pageBlock title="{!Reporttitle} Report" rendered="{!ShowDigitalReport}" id="DigitalReport">
  <apex:pageBlockTable value="{!DigitalReportWrapLst}" var="DigitalWrap">
    <apex:column headerValue="DFF Number">
    <a href="/{!DigitalWrap.DFFId}" target="_blank" >{!DigitalWrap.DFFNum}</a> 
    </apex:column>
    <apex:column value="{!DigitalWrap.OrderSet}" headerValue="OrderSet"/> 
    <apex:column headerValue="Parent URN">
     <apex:outputLabel rendered="{!If(DigitalWrap.ParentURNId!=null,true,false)}">
      <a href="/{!DigitalWrap.ParentURNId}" target="_blank" >{!DigitalWrap.ParentURN}</a> </apex:outputLabel>
      <apex:outputLabel rendered="{!If(DigitalWrap.ParentURNId==null,true,false)}"> {!DigitalWrap.ParentURN} </apex:outputLabel>
    </apex:column>
    <apex:column value="{!DigitalWrap.Status}" headerValue="Status"/>
    <apex:column value="{!DigitalWrap.AccountName}" headerValue="Account"/>
    <apex:column value="{!DigitalWrap.ChildURN}" headerValue="Child URN"/>
    <apex:column value="{!DigitalWrap.ChildURNStatus}" headerValue="Child URN Status"/>
    <apex:column value="{!DigitalWrap.DateSubmitted}" headerValue="Date Submitted"/>
    <apex:column value="{!DigitalWrap.Title}" headerValue="Title"/>
    <apex:column value="{!DigitalWrap.Owner}" headerValue="Owner"/>
  </apex:pageBlockTable>
</apex:pageBlock>                    
</apex:form>
</apex:page>