<apex:page standardController="Galley_Report_Header__c" extensions="GalleyReportController_V1" >
                    <style type="text/css" SRC="../images/skin_default/style.css"></style>
                    <SCRIPT language="javascript"> 
                    if (parent) {
                        if (typeof(parent.layoutFileName) != "undefined") parent.layoutFileName = "documentXML.jsp";
                        //initializing contextual help
                        if (typeof(parent.helpSectionFileName) != "undefined") parent.helpSectionFileName = "";
                        if (typeof(parent.helpSectionRootPath) != "undefined") parent.helpSectionRootPath = "";
                        } 
                    
                    function asyncOpenDocument(url) { 
                        //specific for openDocument feature
                        //this function initiate an asynchronous loading of the URL
                        setTimeout("document.location.href='"+url+"'", 100);
                    }
                    
                    //unique timestamp for manual history management for openDocument feature
                    var timeStamp = "1396380267876";
                    if (typeof(parent.realignStacks) != "undefined") parent.realignStacks(timeStamp);
                    </SCRIPT>
                    <SCRIPT language="javascript" src="callbacks.js"></SCRIPT>
    <HTML>
    <HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <LINK REL="STYLESHEET" TYPE="text/css" HREF="../images/skin_default/style.css" TITLE="Default Style" />                  
    </HEAD>   
    <apex:form title="Galley Report">
    <c:ActionStatus />
        <apex:sectionHeader title="Galley Report" />
        <apex:pageBlock title="1. Select a Galley Report Header#" id="thePageBlock">
            <apex:pageBlockSection columns="1" id="pbsRefe">                
                <apex:selectList value="{!headerId}" size="1">
                    <apex:selectOptions value="{!listGalleyHeaders}" />
                    <apex:actionSupport reRender="thePageBlock" event="onchange" status="actStatus" action="{!fetchHeaderName}"/>
                </apex:selectList>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" collapsible="true" title="Galley Report Header Detail" rendered="{! NOT(ISBLANK(galleyRepHead.Id)) }">
                <apex:detail subject="{!galleyRepHead.Id}" id="detailRec" relatedList="false"/> 
            </apex:pageBlockSection> 
            <p style="font-size:16px; font-weight:bold;">2. Select a Galley Report Template</p><br/>
            <apex:pageBlockSection columns="1">
                <apex:selectList id="chooseReport" value="{!string}" size="1">
                       <apex:selectOptions value="{!listTemplateURLs}"/>
                </apex:selectList><br/> 
                <apex:commandButton title="Run Report" value="Run Galley Report" reRender="theFrame1, theIframe, Crystal"/>
                 <apex:outputPanel id="theFrame1">    
                 <apex:outputPanel id="theFrame" rendered="{!If(string = '', false, true)}" >            
                     <iframe name='documentFrame000h' src="https://berryforcecrrpt.theberrycompany.com/galleyreports2013/{!string}" id="theIframe" frameborder="1" Enableviewstate="true"  width="100%" height="800"/>
                      <!-- Use this one for Production
                     <iframe name='documentFrame000h' src="https://berryforceprd.theberrycompany.com/galleyreports/{!string}" id="theIframe" frameborder="1" Enableviewstate="true"  width="100%" height="800"/> -->
                 </apex:outputPanel> 
                 </apex:outputPanel>  
            </apex:pageBlockSection>
        </apex:pageBlock>
    
    </apex:form>
  </HTML>
</apex:page>