<apex:page tabStyle="Directory_Section__c" standardController="Directory_Section__c" extensions="GuideDisclaimerManagementController" sidebar="false" id="mainpg">
    <style>
        .centercol {text-align:center;}
        .equalWidth {width:50%;}
    </style>
     
    <apex:includeScript value="{!$Resource.Multi_select}"/>
	<c:ActionStatus />     
    <apex:form id="frm">  
    <apex:pageMessages />
    <apex:pageBlock id="mainBlock">
	    <apex:panelGrid columns="3" width="100%">
	        <apex:panelGrid columns="2">
	            <apex:outputLabel value="Directory Section Name: "/>
	            <apex:outputField value="{!lstDir.Name}" />
	        </apex:panelGrid>
	        <apex:panelGrid columns="2" columnClasses="equalWidth, equalWidth">		
	            <apex:outputLabel value="Select Directory Guide: "/>
	            <apex:panelGroup >
		            <apex:inputtext id="dirguide" onclick="openLookupPopup('{!$Component.targetName}', '{!$Component.targetId}'); return false" value="{!TxtDirecGuide}" />
		            <apex:inputHidden id="dirguidehidden" value="{!TxtDirecGuideID}" />
	            </apex:panelGroup>
	        </apex:panelGrid>			
            <apex:commandButton title="Apply Guide Selections" value="Apply Guide Selections" action="{!UpdateDirGuides}" style="text-align:center;width:300px;" status="actStatus" reRender="frm,pgBlock,ListingLst,SecHeadTable" />
	        <apex:panelGrid columns="2">
	            <apex:outputLabel value="Directory Section Code: "/>
	            <apex:outputField value="{!lstDir.Section_Code__c}" />
	        </apex:panelGrid>			
	        <apex:panelGrid columns="2" columnClasses="equalWidth, equalWidth">		
	            <apex:outputLabel value="Enter Guide Telltale: "/>
	            <apex:inputtext value="{!TxtEnterGuide}" />
	        </apex:panelGrid>			
            <apex:commandButton title="Clear Guide" value="Clear Guide & Telltale for Selected Headings" style="text-align:center;width:300px;" action="{!DeleteData}" status="actStatus" reRender="frm,pgBlock,ListingLst,SecHeadTable" />
	        <apex:panelGrid columns="2">
	            <apex:outputLabel value="Section Pagination Code: "/>
	            <apex:outputField value="{!lstDir.Section_Pagination_Code__c}" />
	        </apex:panelGrid>
	        <apex:panelGrid columns="2" columnClasses="equalWidth, equalWidth">		
	            <apex:outputLabel value="Heading Disclaimer: "/>
	            <apex:panelGroup >
		            <apex:inputtext id="dirguide1" onclick="openLookupPopupHeadDisclm('{!$Component.targetName}', '{!$Component.targetId}'); return false" value="{!TxtHeadDisclm}" />
					<apex:inputHidden id="dirguidehidden1" value="{!TxtHeadDisclmID}" />
				</apex:panelGroup>
	        </apex:panelGrid>			
			<apex:commandButton title="Apply Heading Disclaimer" value="Apply Heading Disclaimer" action="{!UpdateHeadingDisclaimer}" style="text-align:center;width:300px;" status="actStatus" reRender="frm,pgBlock,ListingLst,SecHeadTable" />
	        <apex:panelGrid columns="2">
	            <apex:outputLabel value="Directory Name: "/>
	            <apex:outputField value="{!lstDir.Directory_Name__c}" />
	        </apex:panelGrid>
	        <apex:outputLabel />
			<apex:commandButton title="ClearHeadingDisclaim" value="Clear Heading Disclaimer" style="text-align:center;width:300px;" action="{!DeleteDisclaimerData}" status="actStatus" reRender="frm,pgBlock,ListingLst,SecHeadTable" />
	        <apex:panelGrid columns="2">
	            <apex:outputLabel value="Directory Code: "/>
	            <apex:outputField value="{!lstDir.Directory_Code__c}" />
	        </apex:panelGrid>
	        <apex:outputLabel />
			<apex:commandButton title="return" value="Cancel/Return to Section Record" style="text-align:center;width:300px;" action="{!Cancel}" />
	    </apex:panelGrid>           
    </apex:pageBlock>
    <apex:pageBlock id="pgBlock">
        <apex:pageblocksection columns="1">
			<apex:outputPanel layout="block" styleClass="pSearchShowMore">
				<apex:commandLink action="{!doPrevious}" rendered="{!hasPrevious}" value="Previous" />
				<apex:outputLabel rendered="{!NOT(hasPrevious)}" value="Previous" />
		
				<apex:outputLabel value=" (page {!page} of {!totalPages}) | showing {!startIdx} to {!endIdx} of {!totalRecords} " />
		
				<apex:commandLink action="{!doNext}" rendered="{!hasNext}" value="Next" />
				<apex:outputLabel rendered="{!NOT(hasNext)}" value="Next" />        
			</apex:outputPanel>
            <apex:outputpanel id="ListingLst">
                <apex:pageBlockTable value="{!WrapobjSecHeadLst}" var="SecHeadLst" id="SecHeadTable" width="100%">
                    <apex:column headervalue="Select" width="5%">
                        <apex:inputCheckbox styleClass="chkbox" id="chkName" value="{!SecHeadLst.ischecked}"/>
                    </apex:column>
                    <apex:column headervalue="Directory Heading" width="17%">
                           <apex:outputLink value="/{!SecHeadLst.objSecHMap.Id}">{!SecHeadLst.objSecHMap.Directory_Heading__r.Name}</apex:outputLink>
                           <!--<apex:outputlink value="Dir Heading">{!SecHeadLst.objSecHMap.Directory_Heading__r.Name}</apex:outputlink>-->
                    </apex:column>
                    <apex:column headervalue="Heading Code" width="15%">
                           <apex:outputtext value="{!SecHeadLst.objSecHMap.Heading_Code__c}"/>
                    </apex:column>
                    <apex:column headervalue="Current Directory Guide" width="19%">
                           <apex:outputtext value="{!SecHeadLst.objSecHMap.Directory_Guide__r.Name}"/>
                    </apex:column>
                    <apex:column headervalue="Current Guide Telltale" width="19%">
                           <apex:outputtext value="{!SecHeadLst.objSecHMap.Guide_Telltale__c}"/>
                    </apex:column>Heading Disclaimer
                    <apex:column headervalue="Heading Disclaimer" width="20%">
                           <apex:outputtext value="{!SecHeadLst.objSecHMap.Heading_Disclaimer__r.Name}"/>
                    </apex:column>
                    <apex:column headervalue="Force Heading to Appear" width="5%" headerClass="centercol">
                        <apex:inputCheckbox styleClass="chkbox" id="chkName1" value="{!SecHeadLst.objSecHMap.Force_Heading_To_Appear__c}"  disabled="true"/>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:outputpanel>  
			<apex:outputPanel layout="block" styleClass="pSearchShowMore" id="otpNav3">
				<apex:commandLink action="{!doPrevious}" rendered="{!hasPrevious}" value="Previous" />
				<apex:outputLabel rendered="{!NOT(hasPrevious)}" value="Previous" />
		
				<apex:outputLabel value=" (page {!page} of {!totalPages}) | showing {!startIdx} to {!endIdx} of {!totalRecords} " />
		
				<apex:commandLink action="{!doNext}" rendered="{!hasNext}" value="Next" />
				<apex:outputLabel rendered="{!NOT(hasNext)}" value="Next" />        
			</apex:outputPanel>               
        </apex:pageblocksection>
    </apex:pageBlock>
    
    <script type="text/javascript">
      
        var lastChecked = null;

        $(document).ready(function() {
            var $chkboxes = $('.chkbox');
                $chkboxes.click(function(e) {
                if(!lastChecked) {
                    lastChecked = this;
                    return;
                }

                if(e.shiftKey) {
                    var start = $chkboxes.index(this);
                    var end = $chkboxes.index(lastChecked);

                    $chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).attr('checked', lastChecked.checked);

                }

                lastChecked = this;
            });
        });
        
        var newWin=null;
        function openLookupPopup(name, id)
        {
           try
           {
                var url="/apex/showDirectoryGuide1?core.apexpages.devmode.url=1";
               //var url="/apex/showDirectoryGuide";
                newWin=window.open(url, 'Popup','height=500,width=800,left=100,top=100,resizable=no,scrollbars=yes,toolbar=yes,status=no');
                newWin.blur();
                if (window.focus) 
                {
                    newWin.focus();
                }
            }
            catch(err)
            {
              alert(err.message);
            }
            return false;
        } 
        function openLookupPopupHeadDisclm(name, id)
        {
           try
           {
                var url="/apex/showHeadingDisclaimer?core.apexpages.devmode.url=1";
               //var url="/apex/showDirectoryGuide";
                newWin=window.open(url, 'Popup','height=500,width=800,left=100,top=100,resizable=no,scrollbars=yes,toolbar=yes,status=no');
                newWin.blur();
                if (window.focus) 
                {
                    newWin.focus();
                }
            }
            catch(err)
            {
              alert(err.message);
            }
            return false;
        }
    </script>

    </apex:form>
</apex:page>