<apex:page StandardController="Account" extensions="NationalInvoiceSummaryController" action="{!onLoadNew}" sidebar="false">
    <apex:form >
        <apex:pageMessages id="pmMain" />
        <apex:pageBlock id="pbFirst" title="National Invoice Summary Statement">
            <apex:repeat value="{!lstISS}" var="parent" id="theRepeat">
                <apex:pageBlockSection columns="1" title="National Invoice Summary Statement" collapsible="true">
                    <apex:panelGrid columns="7" width="100%" border="1">
                        <apex:panelGroup >
                            <apex:outputLabel value="Trans : " />
                            <apex:outputText value="{!parent.Trans__c}" />
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="Trans Ver : " />
                            <apex:outputText value="{!parent.Trans_Version__c}" />
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="ISS # : " />
                            <apex:outputText value="{!parent.Name}" />
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="ISS Date : " />
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!parent.Invoice_Date__c}" /> 
                            </apex:outputText>
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="To : " />
                            <apex:outputText value="{!parent.To_C__c}" />
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="From : " />
                            <apex:outputText value="{!parent.From_P__c}" />
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="Printed By : " />
                            <apex:outputText value="{!parent.Publication_Company__r.Name}" />
                        </apex:panelGroup>
                    </apex:panelGrid>
                    <apex:pageBlockTable value="{!parent.ISS_Line_Items__r}" var="child">
                        <apex:column headerValue="Dir #" value="{!child.Directory_Code__c}" />
                        <apex:column headerValue="Dir Ver" value="{!child.Directory_Edition__r.Name}" />
                        <apex:column headerValue="Pub date">
                            <apex:outputText value="{0,date,MMyyyy}">
                                <apex:param value="{!child.Pubco_date__c}" /> 
                            </apex:outputText>
                        </apex:column>
                        <apex:column headerValue="Life" value="{!child.Life__c}" />
                        <apex:column headerValue="Inv Type" value="{!child.Inv_Type__c}" />
                        <apex:column headerValue="Client #" value="{!child.Client_Number__c}" />
                        <apex:column headerValue="Gross Amt" value="{!child.Gross_Amount__c}" />
                        <apex:column headerValue="ADJ Amt" value="{!child.ADJ_Amount__c}" />
                        <apex:column headerValue="Tax%" value="{!child.Tax__c}" />
                        <apex:column headerValue="Tax Amt" value="{!child.Tax_Amount__c}" />
                        <apex:column headerValue="Commission %" value="{!child.Commission__c}" />
                        <apex:column headerValue="Commission Amt" value="{!child.Commission_Amount__c}" />
                        <apex:column headerValue="Net Amount" value="{!child.Net_Amount__c}" />
                    </apex:pageBlockTable>
                </apex:pageBlockSection>
                <apex:outputPanel >
                    <apex:panelGrid width="100%" columns="5"  border="1">
                        <apex:outputLabel value="Total Gross " />
                        <apex:outputLabel value="Total ADJ" />
                        <apex:outputLabel value="Total Tax" />
                        <apex:outputLabel value="Total Commission" />
                        <apex:outputLabel value="Pay this Amt" />
                        <apex:outputLabel value="{!parent.Total_Gross_Amount__c}" />
                        <apex:outputLabel value="{!parent.Total_ADJ_Amount__c}" />
                        <apex:outputLabel value="{!parent.Total_Tax__c}" />
                        <apex:outputLabel value="{!parent.TotalCommission__c}" />
                        <apex:outputLabel value="{!parent.NetAmount__c}" />
                    </apex:panelGrid>
                </apex:outputPanel>
            </apex:repeat>
        </apex:pageBlock>
    </apex:form>
</apex:page>