<apex:page controller="HeadingDisclaimer" sidebar="false" showHeader="false">
    <script language="JavaScript">
        function sendValue(sid,s)
        {
            var selvalue = s;
            var selid = sid;
            window.parent.opener.document.getElementById('mainpg:frm:mainBlock:dirguide1').value =selvalue; 
            window.parent.opener.document.getElementById('mainpg:frm:mainBlock:dirguidehidden1').value =selid; 
            self.close();
        }
        
    </script>
    <apex:form id="frm">

    <apex:pageBlock id="pgBlock">
            <apex:pageMessage summary="Please Enter a Heading Disclaimer or click Search to see the complete list" severity="warning" strength="1" rendered="{!IF(HeadDisclmLst.Name == null,true,false)}" />
            <apex:pageMessages id="pgm"/>
            
            <apex:pageBlockButtons location="bottom" >
                <apex:commandButton value="Search" action="{!Search}"/>
            </apex:pageBlockButtons>
            
             <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Heading Disclaimer Name"/>
                    <apex:inputText value="{!HeadDisclmLst.Name}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
         </apex:pageBlock>
         
          <apex:pageBlock id="pgBlock1" rendered="{!IF(lstHeadingDisclaim.size !=null && lstHeadingDisclaim.size > 0 , true , false)}">
            <apex:outputPanel layout="block" styleClass="pSearchShowMore" id="otpNav2">
                  Total Records Found: <apex:outputText rendered="{!IF(Con.resultSize==10000,true,false)}">10000 +</apex:outputText><apex:outputText rendered="{!IF(Con.resultSize < 10000,true,false)}">{!Con.resultSize}</apex:outputText>
                  <apex:image url="/img/search_prevarrow_disabled.gif" styleClass="prevArrow" rendered="{!NOT(Con.HasPrevious)}"/>
                  <apex:image url="/img/search_prevarrow.gif" title="Previous Page" styleClass="prevArrow" rendered="{!Con.HasPrevious}"/>
                  <apex:commandLink action="{!Previous}" title="Previous Page" value="Previous Page" rendered="{!Con.HasPrevious}"/>
                  <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(Con.HasPrevious)}">Previous Page</apex:outputPanel>         
                  &nbsp;({!IF(Con.PageNumber == 1,1,((Con.PageNumber -1) * Con.PageSize)+1)}-{!IF(Con.resultSize < Con.PageSize,Con.resultSize,Con.PageNumber * Con.pageSize)})&nbsp;
                  <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(Con.HasNext)}">Next Page</apex:outputPanel>         
                  <apex:commandLink title="Next Page" value="Next Page" rendered="{!Con.HasNext}" action="{!Next}"/>&nbsp;
                  <apex:image url="/img/search_nextarrow.gif" title="Next Page" styleClass="nextArrow" rendered="{!Con.HasNext}"/>
                  <apex:image url="/img/search_nextarrow_disabled.gif" rendered="{!NOT(Con.HasNext)}"/>          
              </apex:outputPanel>
              
                  <apex:pageBlockSection columns="1">
                <apex:pageBlockTable value="{!lstHeadingDisclaim}" var="HeadDisclmNames">
                    <apex:column headerValue="Name"> <a href="#" onClick="sendValue('{!HeadDisclmNames.Id}','{!HeadDisclmNames.Name}');">{!HeadDisclmNames.Name}</a> </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            
             <apex:outputPanel layout="block" styleClass="pSearchShowMore" id="otpNav">
                  Total Records Found: <apex:outputText rendered="{!IF(Con.resultSize==10000,true,false)}">10000 +</apex:outputText><apex:outputText rendered="{!IF(Con.resultSize < 10000,true,false)}">{!Con.resultSize}</apex:outputText>
                  <apex:image url="/img/search_prevarrow_disabled.gif" styleClass="prevArrow" rendered="{!NOT(Con.HasPrevious)}"/>
                  <apex:image url="/img/search_prevarrow.gif" title="Previous Page" styleClass="prevArrow" rendered="{!Con.HasPrevious}"/>
                  <apex:commandLink action="{!Previous}" title="Previous Page" value="Previous Page" rendered="{!Con.HasPrevious}"/>
                  <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(Con.HasPrevious)}">Previous Page</apex:outputPanel>         
                 &nbsp;({!IF(Con.PageNumber == 1,1,((Con.PageNumber -1) * Con.PageSize)+1)}-{!IF(Con.resultSize < Con.PageSize,Con.resultSize,Con.PageNumber * Con.pageSize)})&nbsp;
                  <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(Con.HasNext)}">Next Page</apex:outputPanel>         
                  <apex:commandLink title="Next Page" value="Next Page" rendered="{!Con.HasNext}" action="{!Next}"/>&nbsp;
                  <apex:image url="/img/search_nextarrow.gif" title="Next Page" styleClass="nextArrow" rendered="{!Con.HasNext}"/>
                  <apex:image url="/img/search_nextarrow_disabled.gif" rendered="{!NOT(Con.HasNext)}"/>          
              </apex:outputPanel>
            
      </apex:pageBlock>
  </apex:form>
</apex:page>