<apex:page standardController="Package_ID__c" extensions="TalusPackagesSuccessfullyCrtdCntlr" sidebar="false" showheader="false">
<apex:form >

<script type="text/javascript" language="javascript">

    function CloseWindow() {
        window.top.close();
    }
</script>
    
    <apex:pageblock >
    <apex:pageMessage summary="Batch job is schedule successfully to create Talus Information, please check you Mailbox to view Batchs results" severity="info" strength="3" />
    <apex:pageMessages /> 
    <apex:pageblockButtons >
    <apex:commandButton value="Talus Packages" action="{!nvgtPkgs}"/>
    </apex:pageblockButtons>
    </apex:pageblock>
    
</apex:form>
</apex:page>