<apex:page standardController="Digital_Product_Requirement__c" extensions="UpdateTalusSubscriptionController" action="{!mkPtch}" showHeader="false" sidebar="true">
   
    <apex:form >
        <apex:pageblock >
            <apex:pageblockButtons location="top">
            <!---<apex:commandButton value="Back to DFF" action="{!rtnDff}"/>--->
                <apex:commandButton value="Close" onclick="window.top.location='/{!Digital_Product_Requirement__c.id}'; return false"/>
            </apex:pageblockButtons>
            <apex:pageBlockSection title="Fulfillment Changes" collapsible="false" columns="4">
            </apex:pageBlockSection>
            <apex:pageMessages escape="false">
            </apex:pageMessages>
        </apex:pageblock>
    </apex:form>

</apex:page>